/* Body*/

body {
  margin: 0 auto;
  background-color: black;
}

/* TopNav*/

.topNav {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid white;
}

.topNav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0%;
}

.linkTopNav{
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.logo{
  font-size: 30px;
}
/* Nav */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  max-width: 1200px;
}

.navLinks {
  display: flex;
  justify-content: rigth;
  width: 500px;
}

.link {
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.link:hover {
  transform: scale(0.9);
}

.navButoon {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 300px;
  font-size: 20px;
}

.nav ul {
  display: flex;
  gap: 30px;
  padding: 20px;
}

button {
  padding: 6px;
  width: 80px;
  border-radius: 2px;
  background-color: bisque;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background-color: white;
  cursor: pointer;
  transform: scale(0.9);
}
