/* Body*/

body {
  margin: 0 auto;
  background-color: #010510;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

h1, h2, h3, ul{
  font-family: 'Nunito Sans', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

